{% extends 'index.html' %}

{% block title %}about — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <h1>About</h1>

    <h2 id="team">What is Laniakea Books?</h2>
    <p>
        Laniakea Books is a public domain publishing house based out of London,
        England.
    </p>
    <p>
        We support independent authors and free knowledge by publishing
        books in the public domain.
    </p>
    <p>
        See our
        <a href="/philosophy/">Philosophy</a>
        and
        <a href="/how-it-works/">How it works</a>
        pages to better understand what we do.
    </p>

    <h2 id="team">Team</h2>

    <div class="about-item">
        <div class="about-item-image">
            <img src="/theodore.jpg" alt="theodore picture">
        </div>
        <div class="about-item-text">
            <div class="about-item-name">Theodore Keloglou</div>
            <div class="about-item-title">founder</div>
            <div class="about-item-bio">
                Theodore writes words and code. Recently, he thought it might be
                fun to write a book. This eventually became the first project of
                laniakea books.
            </div>
        </div>
    </div>

    <div class="about-item">
        <div class="about-item-image">
            <img src="/chryssa.jpg" alt="chryssa picture">
        </div>
        <div class="about-item-text">
            <div class="about-item-name">Chryssa Karatza</div>
            <div class="about-item-title">advisor</div>
            <div class="about-item-bio">
                Chryssa is an artist and engineer with a deep love for books.
                She both reads them and coordinates other people around reading
                them.
            </div>
        </div>
    </div>

    <div class="about-item">
        <div class="about-item-image">
            <img src="/zuzana.jpg" alt="zuzana picture">
        </div>
        <div class="about-item-text">
            <div class="about-item-name">Zuzana Suchomelová</div>
            <div class="about-item-title">advisor</div>
            <div class="about-item-bio">
                Zuzana is a scientist with a lot of interests that she explores
                through books. When she doesn’t read already known knowledge she
                researches new.
            </div>
        </div>
    </div>

    <h2 id="techne">Techne</h2>
    <p>
        All our work is open source. One can find the source code of this
        website, along with the books we publish on our GitHub organisation.
    </p>
    <p>
        <a href="https://github.com/laniakeabooks">github.com/laniakeabooks</a>
    </p>
    <p>
        Our website is designed to be blazing fast, simple, intuitive, and
        accessible. If one identifies a problem, please let us know by
        opening an issue on GitHub
        <a href="https://github.com/laniakeabooks/laniakeabooks.org">here</a>
        or emailing us at
        <a href="mailto:team+support@laniakeabooks.org">team+support@laniakeabooks.org</a>
        (whatever is easier).
    </p>
    <p>
        No cookies are used for tracking or any other kind of functionality.
    </p>
    <p>
        Our book assets (pdf, epub, print) are designed to be highly usable
        and of high aesthetics. If you identify any problematic parts,
        <a href="mailto:team+support@laniakeabooks.org">we’d love to know</a>
        so that we can improve them.
    </p>

    <h2 id="legal">Legal</h2>
    <p>
        Laniakea Books LTD is registered in England and Wales under company number 14908770.
    </p>
</main>

<div class="plug">
    <div class="plug-text">
        Why are we doing this?
    </div>
    <a href="/philosophy/">Philosophy</a>
</div>
{% endblock content %}
