{% extends 'index.html' %}

{% block title %}about — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <h1>About</h1>

    <div class="about-item">
        <div class="about-item-image">
            <img src="/theodore.jpg" alt="theodore picture">
        </div>
        <div class="about-item-text">
            <div class="about-item-name">Theodore Keloglou</div>
            <div class="about-item-title">founder</div>
            <div class="about-item-bio">
                Theodore writes words and code. Recently, he thought it might be
                fun to write a book. This eventually became the first project of
                laniakea books.
            </div>
        </div>
    </div>

    <div class="about-item">
        <div class="about-item-image">
            <img src="/chryssa.jpg" alt="chryssa picture">
        </div>
        <div class="about-item-text">
            <div class="about-item-name">Chryssa Karatza</div>
            <div class="about-item-title">advisor</div>
            <div class="about-item-bio">
                Chryssa is an artist and engineer with a deep love for books.
                She both reads them and coordinates other people around reading
                them.
            </div>
        </div>
    </div>

    <div class="about-item">
        <div class="about-item-image">
            <img src="/zuzana.jpg" alt="zuzana picture">
        </div>
        <div class="about-item-text">
            <div class="about-item-name">Zuzana Suchomelová</div>
            <div class="about-item-title">advisor</div>
            <div class="about-item-bio">
                Zuzana is a scientist with a lot of interests that she explores
                through books. When she doesn’t read already known knowledge she
                researches new.
            </div>
        </div>
    </div>

</main>

<div class="plug">
    <div class="plug-text">
        Why are we doing this?
    </div>
    <a href="/philosophy/">Philosophy</a>
</div>
{% endblock content %}
