{% extends 'index.html' %}

{% block title %}{{ page.title }} — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <h1 itemprop="name headline" class="blog-post-title">
            {{ page.title }}
        </h1>
        <div class="blog-post-date">
            <time datetime="{{ page.date | date(format="%+") }}" itemprop="datePublished">
                {{ page.date | date(format="%e %B  %Y") }}
            </time>
        </div>
        <div itemprop="articleBody">
            {{ page.content|safe }}
        </div>
    </article>
</main>

<div class="plug">
    <div class="plug-text">
        Read our other blog posts
    </div>
    <a href="/blog/">Blog</a>
</div>
{% endblock content %}
