{% extends 'index.html' %}

{% block title %}books — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <h1>
        Books
    </h1>

    <div class="books">
        <a href="https://nutcroft.com/democracy-book/" class="books-item">
            <div class="books-item-title">Democracy Book</div>
            <div class="books-item-separator"></div>
            <div class="books-item-author">Theodore Keloglou</div>
        </a>

        <a href="" class="books-item">
            <div class="books-item-title">Poem Collection</div>
            <div class="books-item-separator"></div>
            <div class="books-item-author">Zuzana Suchomelová</div>
        </a>

        <a href="" class="books-item">
            <div class="books-item-title">Follow the plan not the mood</div>
            <div class="books-item-separator"></div>
            <div class="books-item-author">Zuzana Suchomelová</div>
        </a>

        <a href="" class="books-item">
            <div class="books-item-title">Untitled Novel</div>
            <div class="books-item-separator"></div>
            <div class="books-item-author">Chryssa Karatza</div>
        </a>
    </div>
</main>

<div class="plug">
    <div class="plug-text">
        Are you an author of a book
        <br>that you want to publish under a public domain license?
    </div>
    <a href="/i-have-a-book/">I have a book</a>
</div>
{% endblock content %}
