{% extends 'index.html' %}

{% block title %}books — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <h1>Books</h1>
    <div class="books">
        <a href="/books/letters-from-prison/" class="books-item">
            <div class="books-item-title">Letters from Prison</div>
            <div class="books-item-separator"></div>
            <div class="books-item-author">Theodore Keloglou</div>
        </a>
    </div>
</main>

<div class="plug">
    <div class="plug-text">
        Interested in these ideas? We’d love to chat!
    </div>
    <a href="/lets-chat/">Let’s chat</a>
</div>
{% endblock content %}
