{% extends 'index.html' %}

{% block title %}how it works — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <h1>
        How it works
    </h1>

    <p class="lead">
        We start with a text.
        <br>We finish with a paper book in our hands,
        <br>that belongs to the public domain.
    </p>

    <p>
        To print a book one needs the following:
    </p>

    <ul>
        <li>the content of the book</li>
        <li>front and back cover designs</li>
        <li>spine design</li>
        <li>layout design</li>
        <li>typesetting</li>
        <li>ISBN numbers</li>
    </ul>

    <p>
        Our job is to help authors who do not want to (or cannot) follow the traditional path of
        going to a publisher navigate all that.
    </p>

    <p>
        We want to enable self-publishing and books released in the public domain. For example,
        we can issue an ISBN number for your book but we can also tell you how we do it so that
        you can do it yourself, should you prefer.
    </p>

    <p>
        Similarly, we can design a cover but you may also want to work with specific designers.
    </p>

    <p>
        In terms of printing, we can help you navigate among printing agencies in the UK and
        decide among the thousands of options.
    </p>
</main>

<div class="plug">
    <div class="plug-text">
        Are you writing a book? Do you want to publish it in the public domain?
        <br>We can help!
    </div>
    <a href="/i-have-a-book/">I have a book</a>
</div>
{% endblock content %}
