{% extends 'index.html' %}

{% block title %}how it works — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <h1>How it works</h1>

    <p class="lead">
        Given a text, we create a paper book that belongs to the public domain.
    </p>

    <p>
        Our job is to help authors who do not want to (or cannot) follow the traditional path of
        going to a publisher.
    </p>
    <p>
        We do not aim to be a traditional publishing house. We want to enable self-publishing
        authors. For example, we can register an ISBN number for your book but we can also tell you
        how we do it so that you can do it yourself—should you prefer. Similarly, we can design
        a cover but you may also want to work with specific designers.
    </p>
    <p>
        We do not aim to maximise profit. We want to enrich the public domain and support free
        knowledge in practice. We do that by releasing books in the public domain.
    </p>
    <p>
        All our work is free of cost. You only pay for as many paper copies you want to have.
    </p>

    <p>
        We:
    </p>
    <ul>
        <li>design front and back covers</li>
        <li>design spine</li>
        <li>design layout</li>
        <li>typeset book</li>
        <li>register ISBN</li>
        <li>coordinate printing</li>
        <li>distribute book copies in select [1] bookstores</li>
        <li>design website</li>
        <li>host [2] and maintain website</li>
    </ul>

    <p>
        You:
    </p>
    <ul>
        <li>write the book</li>
        <li>pay for printing</li>
        <li>do not pay for any book design work</li>
        <li>do not pay for any website work</li>
    </ul>

    <p>
        The world:
    </p>
    <ul>
        <li>has one more public domain book</li>
        <li>can buy a paper version at print cost</li>
        <li>can read the book online for free</li>
    </ul>

    <p>
        [1] We operate in London, England and distribute to select bookstores here.
        Please be in touch if you are interested in distribution to other cities
        and countries.
    </p>

    <p>
        [2] The book website will include the full text of the book and will be hosted
        either at this website (laniakeabooks.org) or at a website of the author’s
        choice or at both.
    </p>
</main>

<div class="plug">
    <div class="plug-text">
        Interested in these ideas? We’d love to chat!
    </div>
    <a href="/lets-chat/">Let’s chat</a>
</div>
{% endblock content %}
