{% extends 'index.html' %}

{% block title %}how it works — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <h1>How it works</h1>

    <p class="lead">
        Given a text, we create a paper book
        that belongs to the public domain.
    </p>

    <p>
        Our job is to help authors who do not want to (or cannot) follow the traditional path of
        going to a publisher.
    </p>

    <p>
        We do not aim to be a traditional publishing house. We want to enable self-publishing
        authors. For example, we can issue an ISBN number for your book but we can also tell you
        how we do it so that you can do it yourself, should you prefer. Similarly, we can design
        a cover but you may also want to work with specific designers.
    </p>

    <p>
        We do not aim to maximise profit. We want to enrich the public domain and support free
        knowledge <em>in practice</em>, by releasing books in the public domain.
    </p>

    <p>
        All our work is free of cost. You only pay for as many paper copies you want to have.
    </p>

    <p>
        We:
    </p>
    <ul>
        <li>design front and back covers</li>
        <li>design spine</li>
        <li>design layout</li>
        <li>typeset book</li>
        <li>register for an ISBN</li>
        <li>coordinate printing</li>
        <li>distribute book copies in select bookstores</li>
        <li>design website</li>
        <li>host website</li>
    </ul>

    <p>
        You:
    </p>
    <ul>
        <li>write the book</li>
        <li>pay for printing</li>
        <li>do not pay for any book design work</li>
        <li>do not pay for website design or hosting</li>
    </ul>

    <p>
        The world:
    </p>
    <ul>
        <li>has one more public domain book</li>
        <li>can buy a paper version at printing cost</li>
        <li>read the book online for free</li>
    </ul>
</main>

<div class="plug">
    <div class="plug-text">
        Are you writing a book? Do you want to publish it in the public domain?
        <br>We can help!
    </div>
    <a href="/i-have-a-book/">I have a book</a>
</div>
{% endblock content %}
