{% extends 'index.html' %}

{% block title %}pricing — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <h1>I have a book</h1>

    <p class="lead">
        Email us at
        <a href="mailto:i-have-a-book@laniakeabooks.org">i-have-a-book@laniakeabooks.org</a>
    </p>

    <p>
        Use your book title as email subject. If you don’t have a title yet use the word “Untitled”.
        Once we receive your email, we’ll get back to you regarding the next steps.
    </p>

    <p>
        In your email please include:
    </p>

    <ul>
        <li>How many words do you have</li>
        <li>Whether you have a cover design already</li>
        <li>How many print copies you would like</li>
        <li>If you are interested in physical bookstore distribution in London or other cities</li>
    </ul>
</main>

<div class="plug">
    <div class="plug-text">
        Want to better understand what we offer?
    </div>
    <a href="/how-it-works/">How it works</a>
</div>
{% endblock content %}
