<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{% block metadescription %}We help independent authors turn their words into public domain books.{% endblock metadescription %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}laniakea books{% endblock title %}</title>

        <link rel="stylesheet" href="/general.css">

        {% block extra_head %}
        {% endblock extra_head %}

        {% include "partial_favicon.html" %}
    </head>
    <body>

        {% block intro %}
        <section class="home-intro">
            <div class="home-intro-balancer">
            </div>
            <div class="home-intro-text">
                We help independent authors turn their
                words into public domain books.
            </div>
            <div class="home-intro-icon">
                <a href="#home">»</a>
            </div>
        </section>
        {% endblock intro %}

        <header id="home">
            <a href="/#home" class="logo">
                <h1>laniakea books</h1>
            </a>
            <nav>
                <a href="/lets-chat/">Let’s chat</a>
                <a href="/how-it-works/">How it works</a>
                <a href="/philosophy/">Philosophy</a>
                <a href="/pricing/">Pricing</a>
                <a href="/books/">Books</a>
                <a href="/blog/">Blog</a>
                <a href="/about/">About</a>
            </nav>
        </header>

        {% block content %}
        <section class="home-about">
            <div class="home-about-content">
                <div class="home-about-image">
                    {% include "telescope.html" %}
                </div>
                <p>
                    We support independent authors and free knowledge by
                    publishing books in the public domain.
                </p>
                <p>
                    Our work includes:
                </p>
                <ul>
                    <li>cover design</li>
                    <li>layout design</li>
                    <li>typesetting</li>
                    <li>ISBN registration</li>
                    <li>printing</li>
                    <li>digital distribution (website/epub/pdf)</li>
                    <li>distribution to physical bookstores</li>
                </ul>
            </div>

        </section>

        <section class="home-philosophy">
            <div class="home-philosophy-content">
                {% include "partial_inspiration.html" %}
            </div>
        </section>

        <div class="plug">
            <div class="plug-text">
                Interested in these ideas? We’d love to chat!
            </div>
            <a href="/lets-chat/">Let’s chat</a>
        </div>

        <div class="plug">
            <div class="plug-text">
                See what we do in more detail
            </div>
            <a href="/how-it-works/">How it works</a>
        </div>

        <div class="plug">
            <div class="plug-text">
                Do you have a book for the public domain?
            </div>
            <a href="/lets-chat/#publish">Let’s publish together</a>
        </div>
        {% endblock content %}

        <footer style="margin-top: 120px;"></footer>
    </body>
</html>
