<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="laniakea books: helping authors and working for the public domain">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>laniakea books</title>
        <link rel="stylesheet" href="{{ get_url(path='css/main.css') }}">
    </head>
    <body>
        {% block content %}
        <h1>Hello, world!</h1>
        {% endblock content %}
    </body>
</html>
