{% extends 'index.html' %}

{% block title %}let’s chat — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <h1>Let’s chat</h1>

    <p class="lead">
        Interested in the public domain? Shall we chat?
        <br>We are
        <a href="mailto:nocopyright@laniakeabooks.org">nocopyright@laniakeabooks.org</a>
    </p>

    <p>
        We do not operate under traditional transactional (provider-consumer)
        workflows. We recognise the oddity of our core suggestion; a novelty
        which may cause strange feelings.
    </p>
    <p>
        Our proposition reverses publishing: when we focus on the public domain
        we signify that publishing is about its frame—the public domain—not
        its essence—the ideas inside a book.
    </p>
    <p>
        Let’s start by chatting. Are you, too, interested in challenging
        current copyright laws? Do you think we can build alternatives? What
        do you envision?
    </p>
    <p>
        What kind of books would you write? What do you write?
    </p>

    <h2 id="publish">Do you have a book for the public domain? Let’s publish together!</h2>
    <p>
        If you do already have an unpublished book, we can help you navigate
        processes needed to publish in the public domain. Email us at
        <a href="mailto:nocopyright+publish@laniakeabooks.org">nocopyright+publish@laniakeabooks.org</a>
        with information such as:
    </p>

    <ul>
        <li>What your book is about (title and/or synopsis)</li>
        <li>How many words it contains</li>
        <li>Whether you have a cover design already</li>
        <li>How many copies you would like to print</li>
        <li>If you are interested in physical bookstore distribution in London or other cities</li>
    </ul>
</main>

<div class="plug">
    <div class="plug-text">
        Want to better understand what we offer?
    </div>
    <a href="/how-it-works/">How it works</a>
</div>
{% endblock content %}
