{% extends 'index.html' %}

{% block title %}transparency — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <h1>Open Operations</h1>

    <h2 id="handbook">Handbook</h2>
    <p>
        We aim to be radically transparent. We maintain an open handbook
        of how we work.
    </p>
    <p>
        Find it on GitHub:
        <a href="https://github.com/laniakeabooks/handbook">github.com/laniakeabooks/handbook</a>
    </p>

    <h2 id="open-financials">Open Financials</h2>
    <p>
        All our transactions are open.
    </p>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2023-06-01</td>
                    <td>Director’s Loan</td>
                    <td>+£1,000.00</td>
                </tr>
                <tr>
                    <td>2023-06-01</td>
                    <td>ISBN Prefixes 10x</td>
                    <td>-£174.00</td>
                </tr>
                <tr>
                    <td>2023-06-06</td>
                    <td>Printing Shop</td>
                    <td>-£300.00</td>
                </tr>
                <tr>
                    <td>2023-06-20</td>
                    <td>Payment Processor</td>
                    <td>+£93.20</td>
                </tr>
                <tr>
                    <td>2023-06-22</td>
                    <td>Payment Processor</td>
                    <td>+£11.26</td>
                </tr>
                <tr>
                    <td>2023-06-26</td>
                    <td>Payment Processor</td>
                    <td>+£14.42</td>
                </tr>
                <tr>
                    <td>2023-07-20</td>
                    <td>Payment Processor</td>
                    <td>+£7.28</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2 id="open-sales">Open Sales</h2>
    <p>
        All sales statistics are open.
    </p>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Book</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2023-06-13</td>
                    <td>Letters from Prison</td>
                    <td>Paperback £12.25</td>
                </tr>
                <tr>
                    <td>2023-06-13</td>
                    <td>Letters from Prison</td>
                    <td>Paperback £12.25</td>
                </tr>
                <tr>
                    <td>2023-06-13</td>
                    <td>Letters from Prison</td>
                    <td>Digital £8.00</td>
                </tr>
                <tr>
                    <td>2023-06-13</td>
                    <td>Letters from Prison</td>
                    <td>Paperback £12.25</td>
                </tr>
                <tr>
                    <td>2023-06-13</td>
                    <td>Letters from Prison</td>
                    <td>Paperback £12.25</td>
                </tr>
                <tr>
                    <td>2023-06-13</td>
                    <td>Letters from Prison</td>
                    <td>Paperback £12.25</td>
                </tr>
                <tr>
                    <td>2023-06-13</td>
                    <td>Letters from Prison</td>
                    <td>Digital £8.00</td>
                </tr>
                <tr>
                    <td>2023-06-13</td>
                    <td>Letters from Prison</td>
                    <td>Paperback £12.25</td>
                </tr>
                <tr>
                    <td>2023-06-13</td>
                    <td>Letters from Prison</td>
                    <td>Paperback £12.25</td>
                </tr>
                <tr>
                    <td>2023-06-15</td>
                    <td>Letters from Prison</td>
                    <td>Paperback £12.25</td>
                </tr>
                <tr>
                    <td>2023-06-17</td>
                    <td>Letters from Prison</td>
                    <td>Digital £8.00</td>
                </tr>
                <tr>
                    <td>2023-06-17</td>
                    <td>Letters from Prison</td>
                    <td>Digital £8.00</td>
                </tr>
                <tr>
                    <td>2023-08-13</td>
                    <td>Letters from Prison</td>
                    <td>Digital £8.00</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p style="margin-top: 120px;">
        <em>Data last updated 2023-07-20</em>
    </p>
</main>

<div class="plug">
    <div class="plug-text">
        Read more about us
    </div>
    <a href="/about/">About</a>
</div>
{% endblock content %}
