<p class="lead">
    We want books to be free. That is, free of copyright.
    <br>In the public domain.
    <br>Belonging to everyone in the world.
</p>

<p>
    Inspiration for laniakea books comes from childhood. When I was a kid I
    learned there is this thing called patents. If you think of something first,
    the story goes, you can force everyone else to pay just because you told
    the official office that it was you who thought of it first. Ridiculous;
    I thought. There is no way this is true.
</p>

<p>
    Then, as a kid still, I learned about this other thing called intellectual
    property. That story is, if someone writes a song or a book or anything else
    that is a form of concepts, then whoever wants to do something with it needs
    to ask for permission from them. This includes changing it but also even
    sharing it or giving it away. This can’t be true, I thought again. How can one
    limit me from singing a song at the park I heard earlier?
</p>

<p>
    Today, I am still of the same mind. Intellectual property doesn’t make sense.
    What makes sense is to stop trying to limit ideas about ideas. What makes sense
    is for all intangible creations of the human intellect to be free.
</p>

<p>
    Theodore
    <br>founder of laniakea books
</p>
