{% extends 'index.html' %}

{% block title %}philosophy — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <h1>Philosophy</h1>

    {% include "partial_inspiration.html" %}

    <h2 id="public-domain">What is the Public Domain?</h2>
    <p>
        Public Domain is a category of creative works in which no intellectual
        property law applies. Works in the Public Domain are not owned by
        any persons, groups of persons, companies, countries, or organisations of
        any kind.
    </p>
    <p>
        Anyone can use, change, distribute for both commercial and
        noncommercial purposes works in the Public Domain without any permission.
        In other words, we could claim Public Domain works belong to everyone
        in the world.
    </p>
    <p>
        Read more at the websites of
        <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">Creative Commons: CC0</a>
        and
        <a href="https://en.wikipedia.org/wiki/Public_domain">Wikipedia: Public domain</a>.
    </p>

    <h2 id="name">About our name</h2>
    <p>
        Laniakea means “open skies” or “immense heaven” in Hawaiian. We take our
        name from the Laniakea Supercluster, which is the cluster of galaxies
        that is home to our galaxy, the Milky Way, along with ~100,000 other
        galaxies.
    </p>
</main>

<div class="plug">
    <div class="plug-text">
        More details of how this works in practice?
    </div>
    <a href="/how-it-works/">How it works</a>
</div>
{% endblock content %}
