{% extends 'index.html' %}

{% block title %}philosophy — laniakea books{% endblock title %}

{% block intro %}
{% endblock intro %}

{% block content %}
<main>
    <h1>Philosophy</h1>

    {% include "partial_inspiration.html" %}

    <h2>About the name</h2>

    <p>
        Laniakea is a Hawaiian meaning “open skies” or “immense heaven”. Laniakea Supercluster is
        the galaxy supercluster that is home to the Milky Way and approximately 100,000 other
        nearby galaxies.
        <small>(source: <a href="https://en.wikipedia.org/wiki/Laniakea_Supercluster">Wikipedia</a>)</small>
    </p>
</main>

<div class="plug">
    <div class="plug-text">
        More details of how this works in practice?
    </div>
    <a href="/how-it-works/">How it works</a>
</div>
{% endblock content %}
