{% extends 'index.html' %}

{% block title %}pricing — laniakea books{% endblock title %}

{% block content %}
<main>
    <h1>Pricing</h1>

    <p class="lead">
        We charge £0. You only pay for the printing cost.
    </p>

    <p>
        Enriching the public domain should not cost anything. We believe in a gift economy and we
        act towards it. This is a service, as in: serving people. It’s a gift. We give as much as
        we feel comfortable—feel free to receive—only if you want to.
    </p>

    <p>
        It is of our future goals to take on the printing cost too.
    </p>
</main>

<div class="plug">
    <div class="plug-text">
        Interested in these ideas? We’d love to chat!
    </div>
    <a href="/lets-chat/">Let’s chat</a>
</div>
{% endblock content %}
